.wrapper {
    font-size: 16px;
    color: #fff;
    height: calc(100vh) !important;
    background-color: #1b1c33;
}

.sidebar {
    float: left;
    width: 200px;
    height: calc(100vh - 32px);
    background-color: #090a22;
    padding: 16px;
    font-size: 18px;
    border-radius: 0 0 6px 0;
}

.sidebar h2 {
    margin-top: 0px;
    margin-bottom: 24px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 16px;
}

.sidebar ul li ul {
    padding-left: 16px;
}

.sidebar ul li ul li {
    font-size: 0.8em;
    margin-bottom: 8px;
}

.sidebar a {
    color: #3379b6;
    text-decoration: none;
}

.sidebar a:hover {
    color: #3379b6;
    text-decoration: underline;
}

.sidebar a.active {
    color: #fff;
}

.sidebar-heading {
    margin-bottom: 24px;
}

.game-select {
    margin-bottom: 24px;
    padding: 16px;
    background-color: #090a22;
    border-radius: 0 0 6px 6px;
    margin-right: 24px;
    position: fixed;
    margin-top: -74px;
    width: calc(100% - 320px);
    z-index: 1000;
}

.body-container {
    height: calc(100vh - 74px - 32px);
    padding-left: 24px;
    overflow-y: auto;
    margin-top: 74px;
}

.view-container {

}

.heading {

}

.body-panel {
    padding: 24px;
    border: 1px solid #fff;
    background-color: #090a22;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.body-panel h3, .modal-subheading {
    color: #fac635;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline;
    margin-right: 24px;
}


.body-panel hr {
    border: none;
    height: 1px;
    background-color: #212121;
}

#mainBody{
    margin-right: 24px;
    padding-top: 24px;
}


#mainBody.library {
    height: auto;
    display: block;
}

#mainBody.settings {
    height: auto;
    display: block;
}

#mainBody.calibration {
    height: calc(100vh - 174px);
    margin-bottom: 0;
}

#imageDetails {
    width: auto;
    height: calc(100vh - 160px);
    margin-bottom: 0;
}

.btn {
    border-radius: 4px;
    border: 1px solid;
    padding: 8px;
    color: #fff;
}

.btn:active {
    border: 0px;
    color: #bbb !important;
}

.btn:hover {
    background-color: transparent;
}

.btn-blue, .btn-blue:active {
    background-color:#135b97;
    border-color: #135b97;
}

.btn-blue:hover {
    color: #135b97;
}

.btn-green, .btn-green:active {
    background-color:#11855b;
    border-color: #11855b;
}

.btn-green:hover {
    color: #11855b;
}

.btn-red, .btn-red:active {
    background-color:#ec6754;
    border-color: #ec6754;
}

.btn-red:hover {
    color: #ec6754;
}

.back-btn {
    float: right;
    margin-top: -56px;
}

.add-btn {
    position: relative; z-index: 100;
}

.row {
    margin: 16px 32px 16px 0px;
}

.selectAll {
    margin-top: -56px;
}

input[type=text],
input[type=number],
select,
.v-select {
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: #1f2037;
    border: 1px solid #303030;
}

.listTable {
    width: 100%;
    border-spacing: 0;
}

.listTable .imageLabel {
    border-bottom: 0px;
}

.listTable .btn {
    margin-right: 8px;
}

.listTable tr:nth-child(odd) {
    background-color: #1f2037;
}

